.Header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #000;
  position: sticky;
  top: 0;
  /* #a9d1e0; */
  background: #abd5ff;
  z-index: 100;
}

.Header h1 {
  margin: 15px;
}

.Header ul{
  display: flex;
  align-items: center;
}

.Header ul li{
  list-style-type: none;
}

.Header ul li a{
  font-size: 1.3rem;
  color: #111;
  margin-left: 15px;
}

.Header ul li a:hover{
  color: rgb(32, 82, 133)
}

.Header .Icons{
  display: flex;
  align-items: center;
}

.Header .Icons img{
  width: 50px;
  height: auto;
  margin: 5px;
}

.Header .Icons #redux{
  width: 45px;
}
