@keyframes AnimateContent{
  0%{
    opacity: 0%;
  }
  100%{
    opacity: 100%;
  }
}

body {
  margin: 0;
  font-family: 'Inconsolata', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

body::-webkit-scrollbar{
  width: 7px;
}

body::-webkit-scrollbar-track{
  background: #bbb;
}

body::-webkit-scrollbar-thumb{
  background: #555;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content{
  margin: 2rem;
}

.animateContent{
  animation: AnimateContent 0.5s forwards;
}

.dmargin{
  margin: 10px;
}

.center{
  display: flex;
  flex-direction: column;
  align-items: center;
}

button{
  border: 1px solid #777;
}

button:hover{
  background-color: #b6c4ff;
}

