@keyframes AnimateContent{
  0%{
    transform: translateX(-20px)
  }
  100%{
    transform: translateX(0);
  }
}

body {
  margin: 0;
  font-family: 'Inconsolata', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

body::-webkit-scrollbar{
  width: 7px;
}

body::-webkit-scrollbar-track{
  background: #bbb;
}

body::-webkit-scrollbar-thumb{
  background: #555;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content{
  margin: 2rem;
}

.animateContent{
  animation: AnimateContent 0.7s forwards;
}


